body {
 color: darkorange;
 background-color: whitesmoke;
  margin: 0px;

}


p {
  font-family: "georgia", serif;
  line-height: 1.4;
  font-size: 14px;
}

h1 {
  text-transform: uppercase;
  font-family: "helvetica", sanserif;
  font-size: 45px;
}

h2 {
  text-transform: uppercase;
  font-family: "helvetica", sanserif;
  font-size: 16px;
}

h4 {
  font-family: "helvetica", sanserif;
  font-size: 13px;
}

.sm-page-container {
	max-width: 1000px;
  max-height: 100%;
  margin: 0px auto;
}

.sm-credit-container  {
  position: relative;
  overflow: hidden;
  width: 100%;
  left: 3%;

}

.sm-credit-col{
    width: 40%;
  float: left;

}

.sm-title-container {
  margin-left: 12%;
  margin-top: 2%;
  width: 40%;
	position: relative;

}

.sm-note-container {
  left: 3%;
  margin-top: 0.5%;
	position: relative;
}

.sm-para-container  {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 3%;
}

.sm-para-col{
  width: 29.5%;
  float: left;
  margin-left: 3%;
  margin-top: -12.5%;
}

.sm-para-col--low{
  margin-top: 1%;
}

body{
  overflow-x: hidden;
}

img{
  width: 94%;
  margin-left: 3%;
  margin-top: 3%;
}

.image2 {
  width: 30%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  }

  .image3 {
    width: 15px;
    display: inline-block;
    margin-top: -17px;
    }

.image2:hover {
 transform: scale(1.2);
 box-shadow: 5px 5px 50px peachpuff;
  }

.sm-footer {
  width: auto;
	position: relative;
  display: inline-block;
	overflow: hidden;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 5%;
  left:  50px;
}

.sm-button {
	float: left;
}

.sm-button a {
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  color: darkorange;
  font-family: "helvetica bold", sanserif;
  text-transform: uppercase;
  text-decoration: none;
}

hr{
  margin-top: 10%;
}

.sm-footer-credit{
    margin-left: 3%;
  margin-top:3%;

}

.sm-colour--on {
  background-color: darkorange;
  color: white;
}

.sm-colour--on a {
  color: white;
}

.sm-colour--on .sm-button a {
  border-color: white;
  color: white;
}

.sm-colour--on footer {
	background-color: dark orange;
}

.sm-position--on .sm-title-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.sm-position--on .sm-title-container h1 {
  font-size: 10vw;
	margin-bottom: 10vh;
  width:  100%;
	margin-top: -20px;
  color: darkolivegreen;
  margin-left: -40px;
}

@media screen and (max-width: 600px) {
.sm-position--on .sm-title-container h1 {
  font-size: 12vw;
	margin-bottom: 10vh;
  width:  100%;
	margin-top: 25px;
  color: darkolivegreen;
  margin-left: -47px;
}

@media screen and (max-width: 600px) {
p {
  font-family: "georgia", serif;
  line-height: 1.4;
  font-size: 12px;
}
}

@media screen and (max-width: 600px) {
.sm-para-col{
  width: 29.5%;
  float: left;
  margin-left: 3%;
  margin-top: 1%;
}
}

@media screen and (max-width: 600px) {
.sm-footer {
  width: auto;
	position: relative;
  display: inline-block;
	overflow: hidden;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 5%;
  left: -40px;
}
}

@media screen and (max-width: 400px) {
.sm-footer {
  width: auto;
	position: relative;
  display: inline-block;
	overflow: hidden;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 5%;
  left: -50px;
  margin-right: -50px;
}
}

.dot{
  width: 5px;
  height: 5px;
}
